body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PT Serif Caption", serif;
    font-weight: 500;
    font-size: 22px;
    background-color: rgb(176, 224, 230);
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: start;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    background-color: rgb(224, 255, 255);
    border-radius: 30px;
}

.loading {
    font-size: 46px;
    font-weight: 600;
}

.currentCity {
    display: flex;
    justify-content: start;
    width: 100%;
    column-gap: 100px;
}

.image {
    width: 30%;
}

.data {
    width: 70%;
    background-color: rgb(240, 255, 255);
}