* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Georgia", serif;
    font-weight: 500;
    font-size: 24px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: start;
    align-items: center;
    padding: 50px;
    border-radius: 30px;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.08),
        0 4px 8px rgba(0, 0, 0, 0.08),
        0 12px 24px rgba(0, 0, 0, 0.08);
}

.wrapper-light {
    background-color: rgb(224, 255, 255);
}

.wrapper-dark {
    background-color: rgb(95, 108, 108);
}

.loading {
    display: block;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    line-height: 1.5;
}

.currentCity {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    column-gap: 80px;
}

.image {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    width: 700px;
    padding: 20px;
    line-height: 2;
    border-radius: 30px;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.08),
        0 4px 8px rgba(0, 0, 0, 0.08),
        0 12px 24px rgba(0, 0, 0, 0.08);
}

.information-light {
    color: black;
    background-color: rgb(240, 255, 255);
}

.information-dark {
    color: rgb(240, 232, 232);
    background-color: rgb(129, 136, 136);
}

/* Карта */

.map {
    width: 100%;
    height: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08),
        0 4px 8px rgba(0, 0, 0, 0.08),
        0 12px 24px rgba(0, 0, 0, 0.08);
}

.map-light {
    filter: none;
}

.map-dark {
    filter: invert(1) hue-rotate(180deg);
}

/* Форма поиска */

.searchForm {
    width: 69%;
    display: flex;
    justify-content: start;
    column-gap: 15px;
    align-items: end;
}

.searchForm div {
    position: relative;
}

.searchForm-dark {
    color: rgb(240, 232, 232);
}

.searchForm input {
    width: 500px;
    height: 40px;
    padding: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.searchForm input:focus {
    outline: none;
    border: 2px solid rgb(52, 142, 142);
}

.searchForm input:focus::placeholder {
    opacity: 0;
}

.searchForm-light input {
    border: 2px solid rgb(125, 163, 163);
}

.searchForm-dark input {
    color: rgb(240, 232, 232);
    background-color: rgb(129, 136, 136);
    border: 2px solid rgb(52, 64, 64);
}

.searchForm-dark input::placeholder {
    color: rgb(240, 232, 232);
}

/* Выпадающий список подсказок */

.suggest {
    position: absolute;
    left: 100px;
    width: 500px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.suggestList {
    padding: 5px;
    padding-left: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.suggestList-light {
    border: 1px solid rgb(125, 163, 163);
    background-color: white;
}

.suggestList-light.active {
    background-color: rgb(200, 244, 255);
    outline: none;
}

.suggestList-dark {
    color: rgb(240, 232, 232);
    background-color: rgb(129, 136, 136);
    border: 1px solid rgb(27, 75, 75);
}

.suggestList-dark.active {
    background-color: rgb(104, 106, 107);
    outline: none;
}

/* Кнопки */

button {
    width: 120px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid rgb(125, 163, 163);
    background-color: white;
    cursor: pointer;
}

button:hover {
    outline: none;
    border: 2px solid rgb(8, 135, 199);
}

.button-light {
    border: 2px solid rgb(125, 163, 163);
    background-color: white;
}

.button-dark {
    color: rgb(240, 232, 232);
    border: 2px solid rgb(52, 64, 64);
    background-color: rgb(129, 136, 136);
}

/*  Оформление переключателя темы*/

/* Прячем стандартный чекбокс */
.toggle-switch input {
    display: none;
}

/* Контейнер для переключателя */
.toggle-switch {
    position: absolute;
    top: 40px;
    right: 50px;
    /* display: inline-block; */
    width: 80px;
    height: 34px;
    cursor: pointer;
}

/* Ползунок (фон) */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4d03f;
    transition: .4s;
    border-radius: 34px;
}

/* Иконка (Солнце по умолчанию) */
.slider:before {
    position: absolute;
    content: "☀️";
    font-size: 20px;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Когда чекбокс выбран (Темная тема / Луна) */
input:checked+.slider {
    background-color: #000000;
}

input:checked+.slider:before {
    content: "🌙";
    transform: translateX(46px);
}